.toolbar {
  display: flex;
}
.spacer {
  flex: 1 1 auto;
}
.container {
  padding: 20px;
}


mat-nav-list a {
  display: flex;
  align-items: center;
  padding: 12px 16px;
  text-decoration: none;
  color: inherit;
}

mat-nav-list mat-icon {
  margin-right: 8px;
  vertical-align: middle;
  font-size: 22px;
}
